.element__social {
    background: url(../../../images/like.svg);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 20px 0 0;
    width: 22px;
    height: 19px;
    transition: 0.5s;
    cursor: pointer;
    border:none;
 }

 .element__social:hover {
    opacity: 0.5;
  }