.header__logo {
  margin: 0 0 35px 0;
  width: 142px;
  transition: 0.5s;
}
.header__logo:hover {
  opacity: 0.5;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    margin: 0 0 26px 27px;
    width: 103px;
  }
}