.header {
  display: flex;
  max-width: 880px;
  margin: 50px auto 0 auto;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    margin: 29px auto 0 auto;
  }
}