.profile__add-button {
    background: url(../../../images/plus.png);
    background-repeat: no-repeat;
    background-position: 62px;
    border: 2px solid #FFFFFF;
    margin: auto 0 auto auto;
    padding: 23px 73px;
    width: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.profile__add-button:hover {
  opacity: 0.6;
}
@media (min-width: 320px) and (max-width: 767px) {
    .profile__add-button {
      margin: 32px auto 0px auto;
      padding: 20px 138px 26px 139px;
      width: 16px;
      background-position: center;
    }
  }
