.profile__name {
  margin: 21px 0px 0 0px;
  font-style: normal;
  font-weight: 767;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    grid-column: 2;
    margin: 27px 0px 0px 4px;
  }
}