.popup__save-button {
  text-align: center;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  justify-content: center;
  margin: 23px 0px 0 26px;
  padding: 0;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.popup__save-button:hover {
  opacity: 0.8;
}
@media (min-width: 320px) and (max-width: 767px) {
  .popup__save-button {
    width: 236px;
    height: 46px;
    margin: 16px auto 0 auto;
    font-size: 14px;
    line-height: 17px;
  }
}