.profile__info {
    margin: auto 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-self: end;
    align-items: end;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        grid-template-columns: 1fr auto 1fr;
        margin: auto;
         
    }
  }