.footer {
  max-width: 880px;
  margin: 67px auto 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin: 48px 0 0px 19px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin-left: 40px;
  }
}