.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0px 49px 26px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin:  20px 0px 75px 12px;
  }
}
